<section id="home">
    <div mn-slideshow [height]="450">
        <slide [url]="'assets/Imma_home.002.png'" [idx]="1" [title]="'Friendly'" [text]="'You can easily locate photo, audio and video and choose how to share them'"></slide>
        <slide [url]="'assets/Imma_home.004.png'" [idx]="2" [title]="'Collaborative'" [text]="'You can use the contents of others, engage existing communities and create new ones'"></slide>
        <slide [url]="'assets/Imma_home.006.png'" [idx]="3" [title]="'Open'" [text]="'You can import your dataset, enhance them with collaborative mapping and re-export them'"></slide>
    </div>
</section>
<section id="services" class="page-section colord">
    <div class="container">
        <div class="row" fxFlexLayout>
            <!-- item -->
            <div fxFlex class="col-md-4 text-center animated fadeInUp show" style="opacity: 0;">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <img class="img" src="assets/landing/crea.png">
                    </div>
                </div>
                <div class="row">
                    <h3>
                        <span class="id-color">Create your maps</span>
                    </h3>
                    <p>Choose how to share the content and manage your maps.</p>
                </div>
            </div>
            <!-- end: -->

            <!-- item -->
            <div fxFlex class="col-md-4 text-center animated fadeInUp show" style="opacity: 0;">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <img class="img" src="assets/landing/personalizza.png">
                    </div>
                </div>
                <div class="row">
                    <h3>
                        <span class="id-color">Customize and Reuse Open Data</span>
                    </h3>
                    <p>Choose how to categorize your contents and reuse data.</p>
                </div>
            </div>
            <!-- end: -->

            <!-- item -->
            <div fxFlex class="col-md-4 text-center animated fadeInUp show" style="opacity: 0;">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <img class="img" src="assets/landing/condividi.png">
                    </div>
                </div>
                <div class="row">
                    <h3>
                        <span class="id-color">Open your map for collaboration</span>
                    </h3>
                    <p>Publish your maps and engage your users.</p>
                </div>
            </div>
            <!-- end: -->

            
            <!-- end:-->
        </div>
        
        <a href="#/maps">Explore Maps</a>
    </div>
    <!--/.container-->
</section>